<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>

<body>
<div class="container">
    <div class="col-lg-6">
        <div class="p-5">
            <form class="user" action="/login" method="post">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user"
                           id="exampleInputEmail" name="userId" aria-describedby="emailHelp"
                           placeholder="ID 입력">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                           id="exampleInputPassword" name="password" placeholder="비밀번호 입력">
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    로그인
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>