<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=1024" />
    <meta name="keywords" content="CGV, 시지브이, 영화관, 극장, 영화, 티켓, 박스오피스, 극장, Movie, Theater, Cinema, Cgv, cgv, 예매, 상영작" />
    <meta name="description" content="CGV는 선진화된 관람문화와 최고의 서비스로 고객에게 잊을 수 없는 감동을 선사합니다. CGV홈페이지를 통해 영화 예매뿐만 아니라 그 이상의 서비스와 감동을 전달하고, 다양한 즐거움과 특별한 경험을 제공하고자 합니다." />
    <meta property="og:site_name" content="영화 그 이상의 감동. CGV"/>
    <meta id="ctl00_ctl00_og_title" property="og:title" content="나의 참여한 이벤트 &lt; My CGV | 영화 그 이상의 감동. CGV"></meta>

    <meta id="ctl00_ctl00_og_image" property="og:image" content="https://img.cgv.co.kr/WebApp/images/common/logo_new_kakao_prevw.png"></meta>
    <link rel="alternate" href="http://m.cgv.co.kr" />
    <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico" type="image/x-icon" />
    <title id="ctl00_ctl00_headerTitle">나의 참여한 이벤트 &lt; My CGV | 영화 그 이상의 감동. CGV</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img.cgv.co.kr/R2014/images/favicon.ico" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/webfont.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css?20211209" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/content.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/common.css" />

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/eggupdate.css" />
    <link rel="stylesheet" media="print" type="text/css" href="https://img.cgv.co.kr/R2014/css/print.css" />
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/jquery.ui/smoothness/jquery-ui-1.10.4.custom.min.css" />

    <script type="text/javascript" src="/common/js/extraTheaters.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.config.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.validate.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.paging.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.ui/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.pageing.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.init.js"></script>

    <!--[if lte IE 9]><script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.placeholder.js"></script><![endif]-->
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/silverlight_link.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick-theme-custom.css" />

    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/icheck/login.timer.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/icheck/icheck.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/icheck/iCheck.css" />

    <!-- 2020.05.07 감정지수/프리에그 프로젝트 추가 -->
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/preegg.css" />

    <!-- 홈페이지 CSS 일원화로 인한 반영 20220721 -->
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/resource_pc/css/cgv.min.css" />
    <script type="text/javascript" src="https://img.cgv.co.kr/resource_pc/js/cgvUi.js"></script>

    <!-- 각페이지 Header Start-->

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css" />
    <!--통합결제-->
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/css/mypagenew.css" />

    <!--/각페이지 Header End-->
    <style>
        .cols-content .col-aside {
            width: 180px;
            float: right;
        }
    </style>

</head>
<body class="">

<div class="skipnaiv">
    <a href="#contents" id="skipHeader">메인 컨텐츠 바로가기</a>
</div>
<div id="cgvwrap">
    <div class="cgv-ad-wrap" id="cgv_main_ad">
        <div id="TopBarWrapper" class="sect-head-ad">
            <div class="top_extend_ad_wrap">
                <div class="adreduce" id="adReduce">
                    <iframe src="//ad.cgv.co.kr/NetInsight/html/CGV/CGV_201401/sub@TopBar_EX" width="100%" height="80" title="" frameborder="0" scrolling="no" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" name="TopBanner" id="TopBanner"></iframe>
                </div>
                <div class="adextend" id="adExtend"></div>
            </div><!-- //.top_extend_ad_wrap -->
        </div>
    </div>
    <head th:replace="/mypage/common/header.html"></head>
    <div id="contaniner" class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->
        <div id="contents" class="">
            <div class="sect-common" style="height: 300px; margin-top: 25px;">
                <input type="hidden" id="isTown" name="isTown" value="Y" />
                <input type="hidden" id="userTownMemberInfo" name="userTownMemberInfo" value="" />
                <div class="mycgv-info-wrap">
                    <div class="skipnaiv" >
                        <a href="#menu" id="skipPersoninfo">개인화영역 건너띄기</a>
                    </div>
                    <div class="sect-person-info">
                        <h2 class="hidden">개인화 영역</h2>
                        <div class="box-contents newtype">
                            <div class="person-info">
                                <strong th:text="${memberDTO.getName()}">이름</strong>
                                <em th:text="${memberDTO.getUserId()}">아이디</em>
                            </div>
                            <div class="grade-info">
                                <p style="margin-bottom:4px;color: #342929;font-family: 'NanumBarunGothicBold', '맑은 고딕', '돋움', Dotum, sans-serif;font-size: 20px;line-height: 20px;">
                                    고객님은 <strong class="txt-purple">일반</strong> 입니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cols-content" id="menu">
                <div class="col-aside">
                    <h2>MY CGV 서브메뉴</h2>
                    <div class="snb">
                        <ul>
                            <li >
                                <a href="/member" >MY HOME <i></i></a>
                            </li>

                            <li >
                                <a href="/member/user-detail" >개인정보 조회 <i></i></a>
                            </li>

                            <li >
                                <a href="/member/user-comment" >내가 쓴 댓글 조회 <i></i></a>
                            </li>

                            <li >
                                <a href="/member/user-order" >예매 내역 조회 <i></i></a>
                            </li>
                            <li >
                                <a href="/user/mycgv/event/" title="현재선택">회원 탈퇴(미구현) <i></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-detail" id="mycgv_contents">
                    <div class="tit-mycgv">
                        <h3>최근 예매내역</h3>
                        <p><em th:text="${orderList.size()}">총 0건</em> <a href="/member/user-order">예매내역 더보기</a></p>
                        <span>예매번호로만 티켓을 찾을 수 있으니 반드시 확인 부탁드립니다.</span>
                    </div>
                    <form name="aspnetForm" method="post" action="./" id="aspnetForm" novalidate="novalidate">
                        <div>
                            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
                            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
                            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTc0NzIwMTk3M2RkGpTZbHfO8pvW/Ta9En5loRX6E2E=">
                        </div>
                        <div>
                            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="F268F2D4">
                            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAANOZtRado8flmBd6Juf8OumAAaiyC+ogOIlg3pscMtiP2lKUwCIH8TI/sjrTPJzW37qSeqQYBLB9CRMYU4y53rNrIwxzA==">
                        </div>
                        <!-- MY 예매내역 -->
                        <input type="hidden" id="hidCancelReserveNo" name="hidCancelReserveNo">
                        <div class="sect-base-booking">
                            <div class="box-polaroid">
                                <div class="box-inner">
                                    <div class="lst-item">
                                        <div class="box-number">
                                            <em>예매번호</em>
                                            <strong th:text="${recentOrder.getId()}">0056-0102-4966-250</strong>
                                            <span th:text="${recentOrder.getIndate()}">(2023.01.02)</span>
                                        </div>
                                        <div class="box-image">
                                            <a href="/movies/detail-view/?midx=86072">
                                                <span class="thumb-image">
                                                    <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_126.jpg" alt="아바타-물의 길(3D) 포스터" onerror="errorImage(this)">
                                                </span>
                                            </a>
                                        </div>
                                        <div class="box-contents has_not_storeitem">
                                            <dl>
                                                <dt>
                                                    <em th:text="${recentOrder.getMovieName()}">아바타-물의 길(3D)</em>
                                                </dt>
                                                <dd>
                                                    <em>관람극장</em>
                                                    <strong th:text="${recentOrder.getTheaterName()}">CGV 강남</strong>
<!--                                                    <a href="javascript:theaterMove('0056');">[극장정보]</a>-->
                                                </dd>
                                                <dd>
                                                    <em>관람일시</em>
                                                    <strong>2023.01.08(일) 20:00</strong>
                                                </dd>
                                                <dd>
                                                    <em>관람좌석</em>
                                                    <strong th:text="${recentOrder.getSeat()}">H 14</strong>
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="price-n-btns">
                                            <div class="bd-wrap">
                                                <dl>
                                                    <dt>총 결제금액</dt>
                                                    <dd>
                                                        <strong class="txt-lightblue" th:text="${recentOrder.getTotalPrice()} + '원'">17,000원</strong>
                                                    </dd>
                                                </dl>
                                                <div class="set-btn">
                                                    <input type="hidden" class="reserve-no" name="reserve-no" value="Bj2L6yI8Pj08Hr9n6+k4EEF/MJKQmTcD2CKQGs+A4WI=">
                                                    <button type="button" title="새창" class="round inblack sendsmspopup"><span>문자보내기</span></button>
                                                    <button type="button" data-status="94" class="round black cancel" onclick="noshowYN('N', '20230108' , '00' , '01'  , '8955.99113719167' , '' , ''  )"><span>예매취소</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="sect-mycgv-part">
                        <div class="box-polaroid type1">
                            <div class="box-inner">
                                <div class="tit-mycgv">
                                    <h3>MY 댓글 목록</h3>
                                    <p><em>0건</em> <a href="/member/user-comment">MY 댓글목록 더보기</a></p>
                                </div>
                                <div class="col-myqna">
                                    <ul><li>고객님의 1:1 문의내역이 존재하지 않습니다.</li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- detail 끝 -->
            </div>
            <script type="text/javascript">
                //<![CDATA[
                (function ($) {
                    $(function () {
                        //개인화영역스킵
                        $('#skipPersoninfo').on('click', function () {
                            var $ctn = $('#menu');
                            $ctn.attr({
                                tabIndex: -1
                            }).focus();
                            return false;
                        });
                        //mycgv 메뉴스킵
                        $('#skipMycgvMenu').on('click', function () {
                            var $ctn = $('#mycgv_contents');
                            $ctn.attr({
                                tabIndex: -1
                            }).focus();
                            return false;
                        });

                        //my cgv 상단영역 skip처리
                        var isGoContainer = "False";
                        if (isGoContainer == "True") {
                            location.href = location.href + "#contaniner";
                        }

                    });
                })(jQuery);
            </script>
        </div>
    </div>
</div>
<footer>
</footer>
<script type="text/javascript" src="https://img.cgv.co.kr/R2014//js/system/crypto.js"></script>
</body>
</html>