<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="col-detail" id="mycgv_contents">
  <div class="tit-mycgv type2">
    <h3>나의 예매내역</h3>
    <p>영수증은 <em>신용카드 결제 내역</em>만 출력 가능합니다.</p>
  </div>
  <!-- 팝업시작 -->
  <!-- 팝업 노출 시 .layer-wrap 에 클래스 .off는 없애고 .on 추가해주세요.-->
  <!-- 팝업끝 -->
  <!--포토티켓 수집 동의-->
  <!--// 포토티켓 수집 동의-->
  <div class="cols-mycgv-booking">
    <div class="sect-register booking">
      <p>
        <strong>현장에서 발권하실 경우 꼭 <em>예매번호</em>를 확인하세요.</strong>
        <span>티켓판매기에서 예매번호를 입력하면 티켓을 발급받을 수 있습니다.</span>
      </p>
    </div>

    <div class="lst-item" th:if="${orderList != null}" th:each="orderDTO, i: ${orderList}">
      <div class="box-set-info">
        <div class="box-number" >
          <em>예매번호</em>
          <strong th:text="${orderDTO.id}">예매번호</strong>
        </div>
        <div class="box-info">
          <div class="box-image">
            <a href="/movies/detail-view/?midx=86072">
              <span class="thumb-image">
                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_126.jpg" alt="아바타-물의 길(3D) 포스터" onerror="errorImage(this)">
                <!-- 영상물 등급 노출 변경 2022.08.24 -->
                <i class="cgvIcon etc age12">12</i>
              </span>
            </a>
          </div>

          <div class="detail-area">
            <div class="reservation-info-wrap">
              <h2 class="box-contents artHouse">
                <strong th:if="${movieList != null}" th:text="${movieList[i.index].movieNm}">영화 이름</strong>
                <span class="res-price" th:text="${orderDTO.totalPrice} + '원'">가 격</span>
              </h2>
              <ul class="reservation-mv-info">
                <li>
                  <dl>
                    <dt>관람극장</dt>
                    <dd th:if="${theaterList != null}" th:text="${theaterList[i.index].getTheaterName}">극장 이름</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>관람인원</dt>
                    <dd th:text="${orderDTO.ticketCount} + '명'"></dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>관람일시</dt>
                    <dd class="txt-red" th:text="${orderDTO.screenDate}">기간</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>관람좌석</dt>
                    <dd th:text="${orderDTO.seat}">좌석</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>극장정보</dt>
                    <dd><button th:if="${theaterList != null}" th:myName="${theaterList[i.index].id}" th:onclick="theaterData(this.getAttribute('myName'))">[극장정보]</button></dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>매수</dt>
                    <dd th:text="${orderDTO.ticketCount} + '매'">1매</dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
          <!--        <div class="set-btn">-->
          <!--          <input type="hidden" class="reserve-no" name="reserve-no" value="Bj2L6yI8Pj08Hr9n6+k4EEF/MJKQmTcD2CKQGs+A4WI=">-->
          <!--          <div class="col-edit"></div><div class="col-print"> <button type="button" title="새창" data="Bj2L6yI8Pj08Hr9n6%2bk4EEF%2fMJKQmTcD2CKQGs%2bA4WI%3d" class="round inblack hometicket"><span>예매정보 출력</span></button> <button type="button" title="새창" class="round black sendsmspopup"><span>문자보내기</span></button> <button type="button" data-status="94" onclick="noshowYN('N', '20230108', '00', '01', '8956.98654766333', '', '' )" class="round black cancel"><span>예매취소</span></button></div>-->
          <!--        </div>-->
          <!--
              e:나의예매내역 출력 수정
          -->
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- TODAY BEST 무비차트 -->
  <!-- //TODAY BEST 무비차트 -->
  <div class="sect-mycgv-cancle">
    <div class="tit-mycgv">
      <h4>MY 취소내역</h4>
      <p>취소내역입니다.</p>
    </div>
    <div class="tbl-data">
      <table summary="상영일 기준 지난 7일 동안의 취소내역">
        <caption>MY 취소내역</caption>
        <thead>
        <tr>
          <th scope="col">관람 영화/매점</th>
          <th scope="col">관람CGV</th>
          <th scope="col">관람 일시</th>
          <th scope="col">취소일</th>
          <th scope="col">결제취소 금액</th>
        </tr>
        </thead>
        <tbody>

        <tr th:if="${cancelList != null}" th:each="cancel, i:${cancelList}">
          <td th:if="${movieCancelList != null}" th:text="${movieCancelList[i.index].movieNm}">아바타-물의 길(3D)</td>
          <td th:if="${theaterCancelList != null}" th:text="${theaterCancelList[i.index].getTheaterName()}">CGV 강남</td>
          <td th:text="${cancel.screenDate}">2023.01.08(일) 20:00</td>
          <td th:text="${cancel.indate}">2023.01.02(월)</td>
          <td th:text="${cancel.totalPrice} + '원'"></td>
        </tr>


        </tbody>
      </table>
    </div>
  </div>
  <!-- CGV 예매 관련 정책 안내 Box Type -->

  <script type="text/javascript" src="https://img.cgv.co.kr/R2014//js/system/crypto.js"></script>

  <script>
    function theaterData(id) {
      var url = "/theater/detail/"+id;
      var name = "theaterInformation"
      var option = "width = 600, height = 500, top = 100, left = 200, location = no"
      window.open(url, name, option);
    }
  </script>
</div>
</body>
</html>