<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-detail" id="mycgv_contents">
  <div class="tit-mycgv type2">
    <h3>나의 예매내역</h3>
    <p>지난 <em>1개월</em>까지의 예매내역을 확인하실 수 있으며, 영수증은 <em>신용카드 결제 내역</em>만 출력 가능합니다.</p>
    <a href="/user/movielog/watched.aspx" class="round inblack"><span>내가 본 영화</span></a>
  </div>
  <!-- 팝업시작 -->
  <!-- 팝업 노출 시 .layer-wrap 에 클래스 .off는 없애고 .on 추가해주세요.-->
  <!-- 팝업끝 -->
  <!--포토티켓 수집 동의-->
  <!--// 포토티켓 수집 동의-->
  <div class="cols-mycgv-booking">
    <div class="sect-register booking">
      <p>
        <strong>현장에서 발권하실 경우 꼭 <em>예매번호</em>를 확인하세요.</strong>
        <span>티켓판매기에서 예매번호를 입력하면 티켓을 발급받을 수 있습니다.</span>
      </p>
    </div>

    <div class="lst-item">
      <div class="box-set-info nodata">
        고객님의 최근 예매내역이 존재하지 않습니다.
      </div>
    </div>
  </div>
  <!-- TODAY BEST 무비차트 -->
  <!-- //TODAY BEST 무비차트 -->
  <div class="sect-mycgv-cancle">
    <div class="tit-mycgv">
      <h4>MY 취소내역</h4>
      <p>상영일 기준 지난 7일 동안의 취소내역입니다.</p>
    </div>
    <div class="tbl-data">
      <table summary="상영일 기준 지난 7일 동안의 취소내역">
        <caption>MY 취소내역</caption>
        <thead>
        <tr>
          <th scope="col">관람 영화/매점</th>
          <th scope="col">관람CGV</th>
          <th scope="col">관람 일시</th>
          <th scope="col">취소일</th>
          <th scope="col">결제취소 금액</th>
        </tr>
        </thead>
        <tbody>


        <tr><td colspan="5" class="nodata">고객님의 최근 취소내역이 존재하지 않습니다.</td></tr>

        </tbody>
      </table>
    </div>
  </div>
  <!-- CGV 예매 관련 정책 안내 Box Type -->

  <script type="text/javascript" src="https://img.cgv.co.kr/R2014//js/system/crypto.js"></script>

</div>
</body>
</html>