<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 변경</title>
</head>
<body>
<div id="find_id" class="find_idpw">
  <h1 class="tit">비밀번호변경하기</h1>
  <div class="find-info">
    <form method="post" id="updatePasswordForm">
      <table>
        <colgroup>
          <col width="135"><col width="*">
        </colgroup>
        <tbody>
        <tr class="user-name" height="38" style="border-bottom: 1px solid;">
          <th><div>기존 비밀번호</div></th>
          <td>
            <div>
              <input th:if="${memberDTO != null}" th:value="${memberDTO.getPassword()}" type="password" id="originPassword" name="originPassword" class="MS_input_txt" value="" maxlength="30" title="기존 비밀번호" readonly>
            </div>
          </td>
        </tr>
        <tr height="38" id="find_id_email_wrap">
          <th><div>새 비밀번호</div></th>
          <td>
            <div>
              <input type="password" id="newPassword" name="password" class="MS_input_txt" value="" maxlength="80" title="새 비밀번호" >
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <input type="button" id="submitButton" value="수정하기" onclick="submitPassword();">
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script>
    function submitPassword(){
      var password = $("#newPassword").val();

      $.ajax({
        type:"POST",
        url:"/member/user-edit/password",
        data : {
          'password' : password
        },
        success: function (data) {
          alert("success");
          opener.parent.location.reload();
          window.open('', '_self').close();
        },
        error: function (e) {
          alert("failed");
        },
      })
    }
  </script>
</div>
</body>
</html>