<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie.mapper.MemberMapper">

    <insert id="signupMember" parameterType="com.example.movie.login.entity.Member">
        insert into member
                (
                userId
                , password
                , name
                , email
                , phone
                , indate
                , isMember
                , role
                )
            values
                (#{userId}
                , #{password}
                , #{name}
                , #{email}
                , #{phone}
                , #{indate}
                , #{isMember}
                , #{role}
                )
    </insert>


</mapper>