<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie.mapper.MemberMapper">
    <select id="selectLogin" parameterType="com.example.movie.dto.MemberDTO" resultType="com.example.movie.dto.MemberDTO">
        SELECT
            userId,
            password,
            id
        FROM
            member
        WHERE
            userId = #{userId}
        AND
            password = #{password}

    <insert id="signupMember" parameterType="com.example.movie.login.entity.Member">
        insert into member
                (
                , password
                userId
                , name
                , email
                , phone
                , indate
                , isMember
                )
                , role
            values
                (#{userId}
                , #{password}
                , #{name}
                , #{email}
                , #{phone}
                , #{indate}
                , #{role}
                , #{isMember}
                )
    </insert>

    <select id="loginUserIdPassword" parameterType="com.example.movie.login.dto.MemberDTO" resultType="com.example.movie.login.dto.MemberDTO" >
        select
            nickname
        from
            member
        where userId = #{userId}
        and password = #{password}
        and isMember = 'Y'
    </select>

    <select id="selectMemberDetail" parameterType="com.example.movie.dto.MemberDTO" resultType="com.example.movie.dto.MemberDTO">
        SELECT
            id
            ,name
            ,userId
            ,password
            ,email
            ,phone
            ,indate
            member
        FROM
        WHERE
            userId = #{userId}

    </select>
    <update id="updateMemberName" parameterType="com.example.movie.dto.MemberDTO">
        UPDATE
            member
        SET
            name = #{name}
        WHERE
            userId = #{userId}

    </update>
    <update id="updateMemberPassword" parameterType="com.example.movie.dto.MemberDTO">
        UPDATE
            member
        SET
            password = #{password}
        WHERE
            userId = #{userId}
    </update>
</mapper>