<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie.mapper.MovieMapper">

    <select id="selectAllMovie" resultType="com.example.movie.dto.MovieDTO">
        select id, movieName, movieCode, director, description, openDate, image
        from movie
    </select>

    <select id="selectMovieById" parameterType="long" resultType="com.example.movie.dto.MovieDTO">
        select movieName, movieCode, director, description, openDate, image
        from movie
        where id=#{id}
    </select>

</mapper>