<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <!-- footer -->
    <footer id="footer">
        <div id="footer_sns">
            <div class="container">
                <div class="footer_sns">
                    <ul>
                        <li class="icon s1"><a href="#"><span class="ir_pm">트위터</span></a></li>
                        <li class="icon s2"><a href="#"><span class="ir_pm">페이스북</span></a></li>
                        <li class="icon s3"><a href="#"><span class="ir_pm">인스타그램</span></a></li>
                        <li class="icon s4"><a href="#"><span class="ir_pm">구글플레이</span></a></li>
                        <li class="icon s5"><a href="#"><span class="ir_pm">아이폰 앱스토어</span></a></li>
                    </ul>
                    <div class="tel">
                        <a href="#">ARS <em>1544-0070</em></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_info">
            <div class="container">
                <div class="row">
                    <div class="footer_info">
                        <h2><img src="" alt=""></h2>
                        <ul>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">채용정보</a></li>
                            <li><a href="">제휴/광고/부대사업 문의</a></li>
                            <li><a href="">이용약관</a></li>
                            <li><a href="">개인정보처리방침</a></li>
                            <li><a href="">고객센터</a></li>
                            <li><a href="">윤리경영</a></li>
                        </ul>
                        <address>
                            <p>서울특별시 강남구 역삼동 826-21(미왕빌딩)<br><span class="bar2">대표자명 중꺾마</span> 개인정보보호 <br><span class="bar2">사업자등록번호 123-45-67890</span> 통신판매업신고번호 제 833호</p>
                            <p>Copyright 2023 by The 중꺾마 Inc. All right reserved</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>