<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="author" content="중꺾마">
        <meta name="description" content="영화 예매 사이트 클론 코딩.">
        <meta name="keywords" content="CGV, 메가박스, 롯데시네마">
        <title>영화 예매사이트 클론 코딩</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/swiper.css">

        <!-- 웹 폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean" rel="stylesheet">
    </head>
</th:block>
</html>