<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<body>
                       <li>
                            <a class="has-arrow" href="#" aria-expanded="false">
								   <i class="icon nalika-table icon-wrap"></i>
								   <span class="mini-click-non">사용자관리</span>
							</a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="" href="/admin/memberList"><span class="mini-sub-pro">사용자리스트</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false">
								   <i class="icon nalika-table icon-wrap"></i><span class="mini-click-non"> 극장관리</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Inbox" href="/admin/theaterList"><span class="mini-sub-pro">극장리스트</span></a></li>
                            </ul>
                        </li>
</body>
</html>