.my-page-container {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    height: 700px;
}

.my-page-wrapper {
    margin: 0 auto;
    width: 620px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    background-color: #f6eedf;
}

.my-page-header {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: darkred;
    padding: 20px 0;
    color: #dddddd;
}

.movie-reserve-list {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    height:400px;
    width:300px;
    float:right;
}

.movie-reserve {
    margin-top:25px;
    width: 400px;
    height: 380px;
    padding: 13px 10px;

}
.poster{
    width: 100px;
    height: 140px;
    margin-left:60px;
    margin-top:75px;
    float:left;
}

.complete-message{
    font-size: 25px;
    text-align: center;
    margin-top:40px;
    font-weight: bold;
    padding-bottom: 5px;
}

.movie-reserve-age {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
    color: #983535
}

.movie-reserve-title {
    font-weight: bold;
    padding-top: 11px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 11px;

}

.movie-reserve-theater-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.movie-reserve-seats {
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
}

.movie-reserve-date-wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.movie-reserve-date {
    font-weight: bold;
    font-size: 14px;
    color: #8d3030
}

.movie-reserve-runningTime {
    font-weight: bold;
    font-size: 17px;
    margin-left: 5px;
}

.pay-information-wrapper {
    margin-top: 10px;
    text-align: center;
}

.pay-information-date-title {
    font-size: 12px;
}

.pay-information-date {
    margin-top: 4px;
    font-size: 12px;
    font-weight: bold;
}

.barcode-wrapper {
    margin-top: 10px;
}

.pay-information-money-wrapper {
    margin-top: 8px;
}

.pay-information-money-title {
    font-size: 12px;
}

.pay-information-money {
    margin-top: 3px;
    font-weight: bold;
    font-size: 18px;
}

.barcode-wrapper>div {
    font-size: 20px;
    font-weight: bold;
}

.barcode-wrapper>img {
    margin-top: 5px;
    width: 200px;
    height: 60px;
}

.ticket-button {
    height:5px;
    width:8px;
    float:left;
    margin:10px;
    float:left;
    border: 2px black;
    border-radius: 10%;
}
.ticket-print-button{
    color: #649aa6;
    /*font-size: 15px;*/
    font-weight: bold;
    text-align: center;
}
.ticket-button2{
    height:5px;
    width:8px;
    margin:10px;
    float:right;
    border: 2px black;
    border-radius: 10%;
}

.ticket-check-button{
    /*font-size: 15px;*/
    font-weight: bold;
    text-align: center;
}
.btn_group{
    float:bottom;
    position: relative;
    text-align: center;
    bottom: 100px;
    /*     margin:10px; */

}

.main_btn {
    font-size:18px;
    color:white;
    background-color:darkred;
    border:0px;
    border-radius:10px;
    font-weight:bold;
    padding:15px;
    margin-left:10px;
    margin-right:30px;

}

.main_btn:hover {
    background-color: #730f0f;
    transition: 0.7s;
}

.mypage_btn {
    margin-left:30px;
    font-size:18px;
    color:white;
    background-color:darkred;
    border:none;
    border-radius:10px;
    font-weight:bold;
    padding:15px;

}

.mypage_btn:hover {
    background-color: #730f0f;
    transition: 0.7s;
}
