<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko"><head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="No-Cache">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=1024">
  <meta name="keywords" content="CGV, 시지브이, 영화관, 극장, 영화, 티켓, 박스오피스, 극장, Movie, Theater, Cinema, Cgv, cgv, 예매, 상영작">
  <meta name="description" content="CGV는 선진화된 관람문화와 최고의 서비스로 고객에게 잊을 수 없는 감동을 선사합니다. CGV홈페이지를 통해 영화 예매뿐만 아니라 그 이상의 서비스와 감동을 전달하고, 다양한 즐거움과 특별한 경험을 제공하고자 합니다.">
  <meta property="og:site_name" content="영화 그 이상의 감동. CGV">
  <meta id="ctl00_og_title" property="og:title" content="무비차트 < 무비차트 | 영화 그 이상의 감동. CGV">


  <meta id="ctl00_og_image" property="og:image" content="https://img.cgv.co.kr/WebApp/images/common/logo_new_kakao_prevw.png">
  <link rel="alternate" href="http://m.cgv.co.kr">
  <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico" type="image/x-icon">
  <title id="ctl00_headerTitle">무비차트 &lt; 무비차트 | 영화 그 이상의 감동. CGV</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://img.cgv.co.kr/R2014/images/favicon.ico">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/webfont.css">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css?20211209">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/content.css">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/common.css">

  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/eggupdate.css">
  <link rel="stylesheet" media="print" type="text/css" href="https://img.cgv.co.kr/R2014/css/print.css">
  <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/jquery.ui/smoothness/jquery-ui-1.10.4.custom.min.css">

<!--  <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.tmpl.min.js"></script>-->
<!--  <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.validate.js"></script>-->
<!--  <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.paging.min.js"></script>-->
<!--  <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.ui/jquery-ui-1.10.4.custom.min.js"></script>-->
<!--  <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.js"></script>-->
<!--  <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.pageing.js"></script>-->
<!--  <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.init.js"></script>-->

  <!--[if lte IE 9]><script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.placeholder.js"></script><![endif]-->
  <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.dotdotdot.min.js"></script>
  <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/silverlight_link.js"></script>
  <script src="https://img.cgv.co.kr/R2014/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick.css">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick-theme-custom.css">

  <script src="https://img.cgv.co.kr/R2014/js/icheck/icheck.min.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/icheck/iCheck.css">

  <!-- 2020.05.07 감정지수/프리에그 프로젝트 추가 -->
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/preegg.css">

  <!-- 홈페이지 CSS 일원화로 인한 반영 20220721 -->
  <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/resource_pc/css/cgv.min.css">
  <script type="text/javascript" src="https://img.cgv.co.kr/resource_pc/js/cgvUi.js"></script>

  <script type="text/javascript" src="https://img.cgv.co.kr/R2014//js/system/system.packed.js"></script></head>
<body class="" style="">

<div class="skipnaiv">
  <a href="#contents" id="skipHeader">메인 컨텐츠 바로가기</a>
</div>
<div id="cgvwrap">

  <!-- S Header
    Description
    - class 'nav' 에 class 'active' 추가시 서브메뉴노출
    - class 'nav' 에 class 'fixed' 추가시 상단고정되며 스타일 변경됨
 -->


  <!-- Contaniner -->
  <div id="contaniner" class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->


    <!-- Contents Area -->
    <div id="contents" class="">

      <!-- Contents Start -->

      <!-- 실컨텐츠 시작 -->
      <div class="wrap-movie-chart">
        <!-- Heading Map Multi -->
        <div class="tit-heading-wrap">
          <h3>무비차트</h3>
        </div>
        <!-- //Heading Map Multi -->
        <!-- Sorting -->
<!--        <div class="sect-sorting">-->
<!--          <label for="order_type" class="hidden">정렬</label>-->
<!--          <select id="order_type" name="order-type">-->
<!--            <option title="현재 선택됨" selected="" value="1">예매율순</option>-->
<!--            <option value="2">평점순</option>-->
<!--            <option value="3">관람객순</option>-->
<!--          </select>-->
<!--          <button type="button" class="round gray"><span>GO</span></button>-->
<!--        </div>-->
        <!-- //Sorting -->

        <div class="sect-movie-chart">
          <h4 class="hidden">
            무비차트 - 예매율순
          </h4>

            <span id="movieList">
                <!-- 밑에 ajax로 채워짐 ..!! -->
            </span>


            <!-- 이거 반복 (4개마다) -->
<!--          <ol>-->

<!--            <li>-->
<!--              <div class="box-image">-->
<!--                <strong class="rank">No.4</strong>-->
<!--                <a href="/movies/detail-view/?midx=86157">-->
<!--                            <span class="thumb-image">-->
<!--                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86157/86157_320.jpg" alt="교섭 포스터" onerror="errorImage(this)">-->
<!--                            </span>-->
<!--                </a>-->
<!--                <span class="screentype"></span>-->
<!--              </div>-->
<!--              <div class="box-contents">-->
<!--                <a href="/movies/detail-view/?midx=86157">-->
<!--                  <strong class="title">교섭</strong>-->
<!--                </a>-->

<!--                <div class="score">전체관람가, 102분, 미국, 장편</div>-->

<!--                <span class="txt-info"><strong>2023.01.18<span>개봉</span></strong></span>-->
<!--                <span class="like"><a class="link-reservation" href="/ticket">예매</a></span>-->
<!--              </div>-->
<!--            </li>-->

<!--          </ol>-->
            <!-- 반복 끝 (4개마다) -->

        </div>
      </div><!-- .sect-moviechart -->

      <!--
      <div class="sect-ad-benner">
          <a href="javascript:tmp_alert_phototicket()" title="새창"><img src="https://img.cgv.co.kr/R2014/images/main/phototicket_978_223.jpg" alt="영화를 영원히 추억하는 방법. CGV 포토티켓" /></a>
      </div>//-->
      <!-- .sect-ad-benner  -->

      <!--/ Contents End -->
    </div>
    <!-- /Contents Area -->
  </div>
  <!-- E Contaniner -->

  <!-- E Popup -->

  <!-- S 예매하기 및 TOP Fixed 버튼 -->
  <div class="fixedBtn_wrap topBtn">

    <a href="/ticket" class="btn_fixedTicketing">예매하기</a>

<!--    <a href="#none" class="btn_gotoTop"><img src="https://img.cgv.co.kr/R2014/images/common/btn/gotoTop.png" alt="최상단으로 이동"></a>-->
  </div>

  <!-- E 예매하기 및 TOP Fixed 버튼 -->

  <!-- S Footer -->

  <!-- E Footer -->

</div>


<script>
    $(document).ready(function() {
        init();

    });

    function init(){
        $.ajax({
            // type: "GET",
            url: "/api/movies",
            // dataType: "json",
            success: function (data) {
                let con='';
                for(let i=0;i<data.length;i++){

                  let movieImgUrlArr = null;
                  let randomNum = 0;
                  let movieImgUrl = 'https://biophysicalsociety.files.wordpress.com/2015/12/800px-face_eyes_caricature_comic_cry_how.png';

                    if (data[i].movieImg != null) {
                      movieImgUrlArr = data[i].movieImg.split("|");
                      randomNum = Math.floor(Math.random() * movieImgUrlArr.length);
                      movieImgUrl = movieImgUrlArr[randomNum];
                    }

                    con+='<div style="display: inline-block; width: 25%; margin-bottom: 40px;">';
                    con+='<div class="box-image">';
                    con+='<strong class="rank">No.'+(i+1)+'</strong>';
                    con+='<a href="/movie/'+data[i].movieCd+'">';
                    con+='<span class="thumb-image">';
                    con+='<img src="'+movieImgUrl+'" alt="'+data[i].movieNm+' 포스터" >';
                    con+='</span>';
                    con+='</a>';
                    con+='<span class="screentype"></span>';
                    con+='</div>';
                    con+='<div class="box-contents">';
                    con+='<a href="/movie/'+data[i].movieCd+'">';
                    con+='<strong class="title">'+data[i].movieNm+'</strong>';
                    con+='</a>';
                    con+='<div class="score">'+data[i].watchGradeNm+',&nbsp;'+data[i].showtime+'분,&nbsp;'+data[i].nationNm+', '+data[i].typeNm+'</div>';
                    con+='<span class="txt-info"><strong>'+data[i].openDt+'<span>&nbsp;개봉</span></strong></span>';
                    con+='<span class="like"><a class="link-reservation" href="/ticket">예매</a></span>';
                    con+='</div>';
                    con+='</div>';

                }
                $('#movieList').html(con);
            },
            error: function(xhr) {
                console.log("실패다ㅠ");
                console.log(textStatus);
                alert("에러코드 = "+xhr.status);
            }
        });
    }

</script>

</body></html>